.headnav{
    background-color: rgb(87, 78, 78);
    overflow: hidden;
}
.headnav .navbar .container-fluid .navbar-nav .nav-link{
    color: antiquewhite;
    border-right: 2px solid rgb(131, 121, 121);
    font-size: 90%;
}
.navbar{
    padding-left: 5%;
}
.navbar #navbarnav{
    padding-right: 20%;
}
.headnav #navbarnav .nav-link{
    background-color: rgb(32, 31, 31);
}
h1{
    text-align: center;
    margin-top: 3%;
    font-size: 500%;
    font-weight: 300;
}
h5{
    text-align: center;
    font-size: 170%;
    font-weight: 200;
}
.second-nav{
    margin-top: 5%;
    background-color: #fff;
    border-top: 1px solid rgb(241, 235, 225);
    border-bottom: 1px solid rgb(241, 235, 225);
}
.navbar1{
    margin-left: 30%;
}
.second-nav .navbar .navbar1 .navbar-nav .nav-link{
    color: black;
    border-right: 1px solid rgb(241, 235, 225);
}
.navbar .navbar1 .navbar-nav .home .nav-link{
    color: rgb(255, 94, 0);
    border-left: 1px solid rgb(241, 235, 225);
}
.first-row{
    background-color: rgb(248, 247, 247);
}
.first-row .card {
    margin-top: 5%;
    margin-left: 12%;
    border-color: transparent;
    margin-bottom: 5%;
}
.first-row .card .card-body .calendar label {
    color: rgb(151, 143, 143);
    margin-left: 29%;
    font-size: small;
    padding: 2%;
}
.first-row #side-card{
    margin-left: 1%;
    width: 90%;
}
.first-row .card .card-body p{
    text-align: center;
}
.first-row .card .card-body .calendar #com{
margin-left: -1%;
}
.first-row .card .card-body .calendar #com a{
    color: rgb(248, 187, 95);
    text-decoration: none;
}
.first-row .card .card-body .btn{
    margin-left: 35%;
    color: rgb(114, 112, 109);
    font-weight: 400;
    margin-top: 2%;
} 
.first-row #side-card .card-body .calendar label{
    margin-left: 4%;
}
.first-row #side-card .card-body .calendar p{
    text-align: center;
}
.first-row #side-card .card-body .btn{
    margin-left: 15%;
}
.second-row{
    margin-top: 5%;
}
.second-row .row hr{
    margin-left: 9%;
}
.second-row h4{
    background-color: rgb(61, 58, 58);
    color: #fff;
    padding: 1.5%;
    margin-left: 9%;
}
.second-row .side h4{
    padding: 3%;
}
.second-row .card{
    margin-left: 9%;
    border-color: transparent;
    margin-top: 5%;
    margin-right: 5%;
}
.second-row .card .card-body p{
    text-align: center;
}
.second-row .card .card-body .calendar label {
    color: rgb(151, 143, 143);
    margin-left: 25%;
    font-size: small;
    padding: 2%;
}
.second-row .card .card-body .calendar #com{
    margin-left: -1%;
    }
.calendar #com a{
    color: rgb(248, 187, 95);
    text-decoration: none;
}
.second-row .card .card-body .btn{
    margin-left: 29%;
    color: rgb(114, 112, 109);
    font-weight: 400;
    margin-top: 2%;
} 
.container{
    margin-left: 3vh;
}
.container .card img{
    width: 50vh;
    height: 50vh;
}
.side .card{
    margin-top: 6%;
    margin-left: -1vh;
}
.side h4{
    margin-left: -1vh;
    width: 58vh;
}
.side .card img{
   width: 100%;
    height: 100%;  
}
.second-row hr{
    margin-left: 5%;
    margin-right: 5%;
}
.container .card img{
    height: 100%;
}
.container .card .card-body p{
    color: rgb(253, 104, 5);
}
.container .card .card-body .cal-com{
    margin-left: -45%;
}
.side hr{
    margin-right: 20%;
}
.side .card .card-body p{
    color: rgb(253, 104, 5);
}
.side .card .card-body .cal-comm{
    margin-left: -30%;
}
.navbar3{
    background-color: black;
   margin-top: 5%;
   margin-left: 6%;
   margin-right: 5%;
}
.navbar3 .nav .nav-link{
    color: #fff;
}
.next{
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 5%;
}
.next .row .card img{
    height: 35vh;
}
.next .card .card-body p{
    text-align: center;
}
.navbar4{
    background-color: black;
    margin-top: 5%;
    margin-left: 5.7%;
    margin-right: 5%;
    height: 8vh;
}
.navbar4 .nav .nav-item h4{
    background-color: black;
    padding: 5%;
}
.navbar4 .nav .nav-item1{
    margin-left: 84%;
    background-color: rgb(241, 77, 1);
    padding-left: .3%;
    padding-right: .3%;
}
.navbar4 .nav .nav-item1 a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    margin-left: 1vh;
    font-size: 10vh;
    height: 13vh;
    margin-top: -5vh;
}
.navbar4 .nav .nav-item2{
    margin-left: .2vh;
    background-color: rgb(241, 77, 1);
    padding-left: .3%;
     padding-right: .3%;
}
.navbar4 .nav .nav-item2 a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    margin-left: 1vh;
    font-size: 10vh;
    height: 8vh;
    margin-top: -5vh;
}
.last-news{
    margin-left: 4.5%;
    margin-top: 5%;
}
.last-news .card img{
    height: 22vh;
    width: 22vh;
}
.last-news .card .card-body p{
    color: rgb(250, 103, 6);
    margin-left: -2%;
}
.footer-area{
    background-color: rgb(53, 50, 50);
    margin-top: 5%;
}
.footer-area .content{
    margin-top: 20%;
    margin-left: 18%;
    margin-right: 10%;
    margin-bottom: 25%;
}
.footer-area .content #add{
    margin-left: 30%;
}
.footer-area .content #add button{
    margin-left: 2%;
}
.footer-area .content h5{
    color: #fff;
    margin-bottom: 3%;
}
.footer-area .content p{
    color: rgb(128, 123, 123);
    text-align: center;
}
.footer-area .content input{
    background-color: rgb(0, 0, 0);
    border-color: transparent;
    color: #fff;
}
.footer-area .content button{
    color: rgb(255, 255, 255);
    background-color: rgb(238, 99, 34);
    border-color: black;
    padding: 2%;
    margin-top: 2%;
    margin-left: -27%;
}
.footer-area .content label{
    color: rgb(128, 123, 123);
}
.footer-area .footer-cont{
    margin-left: 15%;
}
.footer-area .footer-cont .content h5{
    margin-top: 5%;
    margin-bottom: 15%;
}
.footer-area hr{
    color: black;
    height: .3vh;
    margin-top: -5%;
    margin-left: 12vh;
}
.footer-area .footer-2 .footer-cont .content h5{
     margin-left: -47vh;
}
.footer-area .footer-2 .footer-cont .content .smthng{
    margin-left: -20vh;
}
.copyright{
    background-color: black;
    color: #fff;
    padding: 1%;
}
.copyright .content2{
    text-align: end;
     margin-right: 20%;
}
.copyright .content2 a{
    color: #fff;
    text-decoration: none;
}
.copyright .back{
    text-align: end; 
    margin-top: -4%;
    font-size: larger;
}
.copyright .back i{
    background-color: rgb(245, 97, 11);
    padding: 1%;
}